body {
  font-family: "Google Sans", "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: "Google Sans Text", "Google Sans", sans-serif;
  font-weight: 500;
}

.bg-model-3 {
  background-image: url("./img/Homepage-Promotional-Carousel-Model-3-Desktop-US.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-model-y {
  background-image: url("./img/Homepage-Promotional-Carousel-Model-Y-Desktop-US.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
